<!--
<form action="?login" method="post" id="login">
	<p class="field">
		<input type="text" name="email" id="email" value="E-Mail">
		<i class="icon-user icon-large"></i>
	</p>
		<p class="field">
  		<input type="password" name="pw" id="pw" value="password">
  		<i class="icon-lock icon-large"></i>
	</p>        
	<p class="submit">
    	<button type="submit" value="Einloggen" name="submit"><i class="icon-arrow-right icon-large submit" id="submit"></i></button>
	</p>
</form> -->



<!--<h5>Login</h5>-->
<form action="?login" method="post" id="login">
	<input type="text" name="email" id="email" value="E-Mail"><br>
	<input type="password" name="pw" id="pw" value="password"><br>
	<input type="hidden" name="hashedpw" id="hashedpw"> 
	<!--<input type="hidden" name="login" value="login"> -->
	<input class="submit" type="submit" value="Einloggen" id="submit">
</form>


<!--
<table>
	<thead>
		<tr>
			<th>user</th>
			<th>name</th>
			<th>email</th>
			<th>password</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>admin</td>
			<td>admin@solution-set.net</td>
			<td>123</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Max Müller</td>
			<td>max.mueller@solution-set.net</td>
			<td>123</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Sabine Zöllner</td>
			<td>sabine.zoellner@solution-set.net</td>
			<td>123</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Frank Fass</td>
			<td>frank.fass@solution-set.net</td>
			<td>123</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Sarah Hunsk</td>
			<td>sarah.hunsk@solution-set.net</td>
			<td>123</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Martin Bär</td>
			<td>martin.baer@solution-set.net</td>
			<td>123</td>
		</tr>
	</tbody>
</table>
-->