<!-- 
	%user-name%			username
-->

<div id="Logoutcontainer">
    <h4>Hello  &laquo; %user-name% &raquo;</h4>
    <a href="?logout">
        <input class="submit" type="submit" value="Logout" id="submit">
    </a>
</div>