<!--
<li id = "%title%">
	<a href="%href%" class="%active%">##%title%##</a><br>
</li>
-->


<li class="MenuIndented">
    <a href="%href%" class="%active%">
        <span class="ca-icon">H</span>
        <div class="ca-content">
            <h2 class="ca-main">%title%</h2>
            <h3 class="ca-sub">%sub-title%</h3>
        </div>
    </a>
</li>

<!-- 	<a href="?project=-1" class="%area-menu_overview%">##Project Overview##</a><br>
	<a href="manageProjects.php" class="%area-menu_project%">##Project Details##</a><br>
	<a href="" class="%area-menu_user%">Benutzer bearbeiten</a><br>
	<a href="" class="%area-menu_records%">Records</a><br>
	<a href="" class="%area-menu_collections%">Collections</a><br>
	<a href="" class="%area-menu_register%">Register</a><br> -->