<!--<div id="project-nav">-->
<!--	<nav>-->
<!--		<div id="nav">-->
		
<!-- 			<ul>
			<li><a href="/" id="homenav">Home</a></li>
			<li><a href="/about_us" id="aboutnav">About Us</a></li>
			<li><a href="/blog" id="blognav">Blog</a></li>
			<li><a href="/shop" id="shopnav">Shop</a></li>
		        <li><a href="/downloads" id="downloadsnav">Downloads</a></li>
		        <li><a href="/faq" id="helpnav">FAQ</a></li>
		        <li><a href="/contact" id="contactnav">Contact</a></li>
		    </ul> -->
<!--			<ul>-->
<!--				%links%-->
<!--			<ul>-->
<!--		</div>-->
<!--	</nav>-->

	<!-- <p>test</p> -->
<!--</div>-->
        
       <div class="content">
            <ul class="ca-menu">
                <li>
                    <a href="index.php" class="%active-home-trail%">
                        <span class="ca-icon">z</span>
                        <div class="ca-content">
                            <h2 class="ca-main">Home</h2>
                            <h3 class="ca-sub">TU-Freiberg IS-Projekt</h3>
                        </div>
                    </a>
                </li>
                %links%
                <li>
                    <a href="links.php" class="%active-links-trail%">
                        <span class="ca-icon">K</span>
                        <div class="ca-content">
                            <h2 class="ca-main">Links</h2>
                            <h3 class="ca-sub">Links to the world</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="support.php" class="%active-Support-trail%">
                        <span class="ca-icon">L</span>
                        <div class="ca-content">
                            <h2 class="ca-main">Support</h2>
                            <h3 class="ca-sub">24/7 for you needs</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>