<h3>##Project##</h3>
<form id="add-edit-project-form" method="post" action="?action=submitAddProjectForm">

	<label>##Project ID##:</label> <input disabled type="text" id="project" name="project" /> <br />

	<label>##Parent Project##:</label><input disabled type="text" id="parent-project" name="parent-project" /><input disabled type="text" id="parent-project-name" name="parent-project-name" /> <br />

	<label>##Project Name##:</label> <input disabled type="text" id="project-name" name="project-name"/> <br />

	<label>##Project Description##:</label> <textarea disabled id="project-description" name="project-description"></textarea> <br />

	<input disabled type="submit" value="##Submit##" />

</form>