<form id="add-edit-project-form" method="post" action="?action=submitAddProjectForm">
	<label>##Project ID##:</label> <input readonly="readonly" type="text" id="project" name="project" /> <br />
	<label>##Parent Project ID##:</label> <input type="text" id="parent-project" name="parent-project" /> <br />
	<label>##Project Name##:</label> <input type="text" id="project-name" name="project-name"/> <br />
	<label>##Project Description##:</label> <textarea id="project-description" name="project-description"></textarea> <br />
	<input type="submit" value="##Submit##" />
</form>