<form method="post" action="?action=submitAddProjectForm">
	<label>##Project ID##:</label> <input readonly="readonly" type="text" value="15"/> <br>
	<label>##Parent Project ID##:</label> <input readonly="readonly" type="text" value="2"/> <br>
	<label>##Project Name##:</label> <input type="text"/> <br>
	<input type="submit" value="##Submit##" />
</form>