<div id="delete_groups_form_dialog" title="Delete Group(s)">
	<p class="validateTips">Do you really want to delete the selected?</p>
 
	<form id="delete_groups_form" action="?action=submitDeleteGroupForm" method="post">

		<input type="hidden" name="rows" id="rows" value="" >
	<!-- Allow form submission with keyboard without duplicating the dialog button -->
	<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
	</fieldset>
	</form>
</div>