

<h1>Project in "Informationssysteme"</h1>
<p>
This project was developed as a part of the lecture "Informationssysteme" by Professor Heinrich Jasper. <br>
The system enables the user to manage projects, its data and structure.
</p>

The software was created by:
<ul>
    <li> <span class="hover">Armin Burkhart</span></li>
    <li> <span class="hover">Janek Görgens</span></li>
    <li>Simon Stepputtis</li>
    <li> <span class="hover">Marcus Weigend</span></li>
</ul>



<?php echo $_GET["parameter"]; ?>
