<h1>Links</h1>

<ul>
    <li> <a href="http://tu-freiberg.de/" target="_blank"> TU Bergakademie Freiberg </a>     </li>
    <li><a href="http://www.informatik.tu-freiberg.de/prof3/jasper.html" target="_blank"> Prof. Dr. rer. nat. habil. Heinrich Jasper </a></li>
    <li> <a href="http://is-collabtive.solution-set.net/" target="_blank"> Project management system</a>            </li>
</ul>
