<div id="project-nav">
	<nav>
		<div id="nav">
		
<!-- 			<ul>
			<li><a href="/" id="homenav">Home</a></li>
			<li><a href="/about_us" id="aboutnav">About Us</a></li>
			<li><a href="/blog" id="blognav">Blog</a></li>
			<li><a href="/shop" id="shopnav">Shop</a></li>
		        <li><a href="/downloads" id="downloadsnav">Downloads</a></li>
		        <li><a href="/faq" id="helpnav">FAQ</a></li>
		        <li><a href="/contact" id="contactnav">Contact</a></li>
		    </ul> -->
			<ul>
				%links%
			<ul>
		</div>
	</nav>

	<!-- <p>test</p> -->
</div>