div.legend {
      line-height: 32px;
}

div.legend .box {
    height: 32px;
    width: 32px;
    border: 1px solid silver;
    display: inline-block;
    position: absolute;
}

div.legend .box.changed {
	background: #F5FF75;
}

div.legend .box.saved {
	background: #87FF75;
}

div.legend .box.error {
	background: #f5ab66; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(245,255,117,1) 0%, rgba(245,171,102,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(245,255,117,1)), color-stop(100%,rgba(245,171,102,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(245,255,117,1) 0%,rgba(245,171,102,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(245,255,117,1) 0%,rgba(245,171,102,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(245,255,117,1) 0%,rgba(245,171,102,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(245,255,117,1) 0%,rgba(245,171,102,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ff75', endColorstr='#f5ab66',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div.legend .description {
    margin: 0px 15px 0px 40px;
    /*display: block;*/
}