<div id="project-nav">
	<a href="?project=-1" class="%area-menu_overview%">##Project Overview##</a><br>
	<a href="manageProjects.php" class="%area-menu_project%">##Project Details##</a><br>
	<a href="" class="%area-menu_user%">Benutzer bearbeiten</a><br>
	<a href="" class="%area-menu_records%">Records</a><br>
	<a href="" class="%area-menu_collections%">Collections</a><br>
	<a href="" class="%area-menu_register%">Register</a><br>
</div>