<h3>##Group##</h3>
<form id="add-edit-group-form" method="post" action="?action=submitAddEditGroupForm">
	<!-- <input type="hidden" name="action" value="submitAddEditProjectForm" /> -->
	<label>##Group ID##:</label> <input readonly type="text" id="group" name="group" /> <br />

	<label>##Project ID##:</label><input readonly type="text" id="project" name="project" /> <br />

	<label>##Group Name##:</label> <input readonly type="text" id="group-name" name="group-name" maxlength="45" /> <br />

	<label>##Group Description##:</label> <textarea readonly id="group-description" name="group-description"></textarea> <br />

	<input disabled type="submit" value="##Submit##" />

</form>