Conteeeeent<hr>
%area-groups-form%<br>
<div class="legend">
    <span class="box saved"></span><span class="description">Saved</span>
    <span class="box changed"></span><span class="description">Changed</span>
    <span class="box error"></span><span class="description">Error</span>
</div>
<br><hr>
<form id="edit-groups-form" method="post" action="?action=submitEditGroupsForm">
	<input type="text" name="groups" id="groups" /><br>
	<input type="submit" value="##Submit##" />
</form>