<div id="delete_groups_form_dialog" title="Edit Group">
	<p class="validateTips">Really?</p>
 
	<form id="delete_groups_form" action="?action=submitDeleteGroupForm" method="post">

		<input type="hidden" name="group" id="group" value="" >

	<!-- Allow form submission with keyboard without duplicating the dialog button -->
	<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
	</fieldset>
	</form>
</div>