<!DOCTYPE html>
<html>
<head>
	<title>%title%</title>
	<link rel="stylesheet" href="%path%/styles/styles.css">
</head>
<body>
%toast%
<table>
	<tr>
		<td>%area-content%</td>
		<td>%area-login%</td>
	</tr>
</table>

</body>
</html>