<!-- 
	%title%						site title
	%css-add%					insert point for added CSS files
	%js-add%					insert point for added JS files
	%toast%						insert point for user messages
	%area-X%					insert point for area X
	%path%                      path of the active theme (without trailing slash)
	%area-project_nav%			insert point for the navigation menu
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>%title%</title>
	<link rel="stylesheet" href="%path%/styles/styles.css">
	<link rel="stylesheet" href="%path%/styles/table_data.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	%css-add%
</head>
<body>
	%toast%
	%area-project_nav%
	<table style="padding-left: 150px;">
		<tr>
			<td>%area-content%</td>
			<td width="200px">%area-login%</td>
		</tr>
	</table>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery.min.js"><\/script>')</script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

	<script type="text/javascript"
	  src='%path%/js/libs/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML'>
	  MathJax.Hub.Config({
	  	tex2jax: { inlineMath: [ ['$','$'], ['\\(','\\)'] ], processEscapes: true },
	  	"HTML-CSS": { scale: 100}
	  });
	</script>

	<script src="%path%/js/table_data.js"></script>

	
	%js-add%

</body>
</html>